.q1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;

}

.age{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
    padding-left: 35%;
   
}
